
/* Author: Annika Limbrock */

body {
    background: #ededed;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}

#wrapper {
    max-width: 900px;
    height: 95vh;
    margin: auto;
    background: #fff;
    border-radius: .5em;
}

/* ----------------------------------------- HEADER ---------------------------------------- */

header {
    position: relative;
    width: 100%;
    height: 18vh;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    overflow: hidden;
}

header:after {
    display: block;
    content: "";
    position: absolute;
    left: -25%;
    top: -65%;
    width: 150%;
    height: 18vh;
    background: #b2e8d6;
    transform: rotate(-8deg);
}

.header__content {
    position: relative;
    z-index: 100;
}

.header__title {
    position: absolute;
    top: 11vh;
    left: 2em;
    margin: 0;
}

.header__title span {
    color: #43d7a6;
}

.header__backlink {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

/* ------------------------------------------ MAIN ----------------------------------------- */

main {
    width: 100%;
    height: 77vh;
    padding: 1.5em 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.overview_head {
    max-width: 55em;
    padding: 0 1em;
    color: #a3a3a3;
    text-align: right;
}

.overview_head span {
    display: inline-block;
    padding-right: 1em;
}

.overview {
    max-width: 55em;
    padding: 0 .25em;
}

.overview_element, .overview_element:visited {
    display: inline-block;
    position: relative;
    width: 24.5em;
    height: 200px;
    margin: .5em;
    text-align: center;
    background: #f8f8f8;
    border-radius: .5em;
    box-shadow: 1px 1px 5px #cfcfcf;
    transition: background .5s linear;
}

.overview_element:hover, .overview_element:focus {
    background: #43d7a6;
    transition: background .2s linear;
}

.overview_icon {
    display: block;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
}

.overview_image {
    width: 80px;
    height: auto;
}

.overview_button, .overview_button:visited {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: transparent !important;
    font-weight: bold !important;
    color: #000 !important;
    border-color: transparent !important;
}

.overview_button:hover, .overview_button:focus {
    background: transparent !important;
}

.overview_link, .overview_link:visited {
    background: transparent !important;
    font-weight: bold !important;
    color: #a3a3a3 !important;
    border-color: transparent !important;
}

/* ----------------- Buttons ----------------- */

.addbutton__wrap {
    
}

.addbutton {
    width: 80px;
    height: 80px;
    font-size: 30px !important;
    line-height: 0;
    border-radius: 40px !important;
}

.addbutton span {
    padding: .6em !important;
}

/* ----------------- Cards ----------------- */

.card {
    position: relative;
    padding: 1.2em 1em 1.8em 1em;
    border-radius: .5em;
    text-align: center;
    overflow: hidden;
}

.card p {
    margin: 0;
    padding: 0;
}

.card__name {
    color: #4e4e4e;
    font-size: 20px;
}

.card__balance {
    font-size: 28px;
    line-height: 20px;
}

.card--RED {
    border: 1px solid #f10b0b;
    background-color: rgba(241,11,11,.2);
}

.card--GREEN {
    border: 1px solid #85d222;
    background-color: rgba(133,210,34,.2);
}

.card--BLUE {
    border: 1px solid #2a79fc;
    background-color: rgba(42,121,252,.2);
}

.card--YELLOW {
    border: 1px solid #eed506;
    background-color: rgba(238,213,6,.2);
}

.card--PINK {
    border: 1px solid #ff2dcb;
    background-color: rgba(255,45,203,.2);
}

.card--ORANGE {
    border: 1px solid #ee8e06;
    background-color: rgba(238,142,6,.2);
}

/* --------------------------------------- PRIMEFACES -------------------------------------- */

body .ui-button, body .ui-button:visited {
    background-color: #000;
    border-color: #000;
}

body .ui-button:hover, body .ui-button:focus {
    background-color: #222222;
    border-color: #222222;
}

body .ui-button.ui-button-text-only .ui-button-text {
    padding: .7em 1em;
}

body .ui-datagrid .ui-datagrid-content {
    padding: 1em 0;
    border: none;
}