
/* Author: Annika Limbrock */

body {
    background: #ededed;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}

#wrapper {
    max-width: 900px;
    height: 95vh;
    margin: auto;
    background: #fff;
    border-radius: .5em;
}

/* ----------------------------------------- HEADER ---------------------------------------- */

header {
    position: relative;
    width: 100%;
    height: 18vh;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    overflow: hidden;
}

header:after {
    display: block;
    content: "";
    position: absolute;
    left: -25%;
    top: -65%;
    width: 150%;
    height: 18vh;
    background: #b2e8d6;
    transform: rotate(-8deg);
}

.header__content {
    position: relative;
    z-index: 100;
}

.header__title {
    position: absolute;
    top: 11vh;
    left: 2em;
    margin: 0;
}

.header__title span {
    color: #43d7a6;
}

.header__backlink {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

/* ------------------------------------------ MAIN ----------------------------------------- */

main {
    width: 100%;
    height: 77vh;
    padding: 1.5em 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.overview_head {
    max-width: 55em;
    padding: 0 1em;
    color: #a3a3a3;
    text-align: right;
}

.overview_head span {
    display: inline-block;
    padding-right: 1em;
}

.overview {
    max-width: 55em;
    padding: 0 .25em;
}

.overview_element, .overview_element:visited {
    display: inline-block;
    position: relative;
    width: 24.5em;
    height: 200px;
    margin: .5em;
    text-align: center;
    background: #f8f8f8;
    border-radius: .5em;
    box-shadow: 1px 1px 5px #cfcfcf;
    transition: background .5s linear;
}

.overview_element:hover, .overview_element:focus {
    background: #43d7a6;
    transition: background .2s linear;
}

.overview_icon {
    display: block;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
}

.overview_image {
    width: 80px;
    height: auto;
}

.overview_button, .overview_button:visited {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: transparent !important;
    font-weight: bold !important;
    color: #000 !important;
    border-color: transparent !important;
}

.overview_button:hover, .overview_button:focus {
    background: transparent !important;
}

.overview_link, .overview_link:visited {
    background: transparent !important;
    font-weight: bold !important;
    color: #a3a3a3 !important;
    border-color: transparent !important;
}

/* ----------------- Buttons ----------------- */

.addbutton__wrap {
    position: relative;
}

.addbutton, .overview_button:visited {
    position: absolute;
    top: -60px;
    right: 0;
    width: 60px;
    height: 60px;
    background: #43d7a6 !important;
    font-size: 30px !important;
    line-height: 0;
    border-color: #43d7a6 !important;
    border-radius: 30px !important;
}

.addbutton:hover, .addbutton:focus {
    background: #35be91 !important;
}

.addbutton span {
    padding: .3em !important;
}

/* ----------------- Cards ----------------- */

.cards {
    margin-bottom: 1em;
}

.card {
    position: relative;
    padding: 1.2em 1em 1.8em 1em;
    background: #f8f8f8;
    border-radius: .5em;
    text-align: center;
    overflow: hidden;
    border: 1px solid #d7d7d7;
}

.pinboard-cards .card {
    padding-bottom: 1.2em;
    min-height: 14em;
    border: none;
}

.card__header {
    position: relative;
    height: 2.5em;
}

.card__header--left {
    position: absolute;
    top: 0;
    left: 0;
}

.card__header--right {
    position: absolute;
    top: 0;
    right: 0;
}

.card__categorie {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.card__date {
    color: #000000;
}

.card__content {
    display: flex;
    height: 6.5em;
    color: #000000;
    align-items: center;
    justify-content: center;
}

.card__footer {
    position: relative;
    height: 2.5em;
}

.card__footer--left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card__footer--right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card p {
    margin: 0;
    padding: 0;
}

.card__name {
    font-size: 14px;
    text-transform: uppercase;
}

.card__balance {
    font-size: 28px;
    line-height: 30px;
}

.card__balance--positive {
    color: #000000;
}

.card__balance--negative {
    color: #ff0000;
}

.card__edit {
    position: absolute;
    bottom: -6px;
    right: -10px;
}

.card--RED {
    color: #f10b0b;
}

.pinboard-cards .card--RED {
    background: rgba(241, 11, 11, 0.2);
}

.card--GREEN {
    color: #85d222;
}

.pinboard-cards .card--GREEN {
    background: rgba(133, 210, 34, 0.2);
}

.card--BLUE {
    color: #2a79fc;
}

.pinboard-cards .card--BLUE {
    background: rgba(41, 121, 252, 0.2);
}

.card--YELLOW {
    color: #eed506;
}

.pinboard-cards .card--YELLOW {
    background: rgba(238, 213, 6, 0.2);
}

.card--PINK {
    color: #ff2dcb;
}

.pinboard-cards .card--PINK {
    background: rgba(255, 45, 203, 0.2);
}

.card--ORANGE {
    color: #ee8e06;
}

.pinboard-cards .card--ORANGE {
    background: rgba(238, 142, 6, 0.2);
}

/* ----------------- Form ----------------- */

.form {
    margin-bottom: 1em;
}

.form__buttons {
    
}

.form__button {
    margin-right: .5em !important;
}

.input__wrap {
    margin-bottom: .4em;
    display: flex;
}

.input__label {
    min-width: 8em;
    padding: .5em;
}

.input .ui-inputfield {
    
}

.input--big .ui-inputfield {
    width: 20em;
}

.input--small .ui-inputfield {
    width: 8em;
}

.input .ui-selectmanycheckbox.ui-widget td, .input .ui-selectoneradio.ui-widget td {
    padding-top: .5em;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #43d7a6;
    background-color: #43d7a6;
}

/* ----------------- Table ----------------- */

table__cell {
    
}

.table__cell--medium {
    width: 8em;
}

.table__cell--small {
    width: 5em;
    
}

.table__cell--center {
    text-align: center;
}

.table__cell--right {
    text-align: right;
}


/* --------------------------------------- PRIMEFACES -------------------------------------- */

/* ----------------- Buttons ----------------- */

body .ui-button, body .ui-button:visited {
    background-color: #000;
    border-color: #000;
}

body .ui-button:hover, body .ui-button:focus {
    background-color: #222222;
    border-color: #222222;
}

body .ui-button.ui-button-text-only .ui-button-text {
    padding: .7em 1em;
}

body .ui-datagrid .ui-datagrid-content {
    padding: 1em 0;
    border: none;
}

/* ----------------- Table ----------------- */

body .ui-datatable table {
    border-collapse: separate;
    border-spacing: 0;
}

body .ui-datatable thead th {
    padding: .8em 1em .7em 1em;
    background: #b2e8d6;
}

body .ui-datatable .ui-datatable-data>tr {
    
}

body .ui-datatable .ui-datatable-data>tr td {
    padding: .8em 1em .7em 1em;
}

body .ui-datatable .ui-datatable-data>tr.ui-datatable-even {
    background: #ffffff;
}

/* Table border and border-radius */
body .ui-datatable .ui-datatable-data>tr { border-bottom: 1px solid #000; }
body .ui-datatable .ui-datatable-data>tr td { border-right: 1px solid #000; }
body .ui-datatable .ui-datatable-data>tr td:first-child { border-left: 1px solid #000; }
body .ui-datatable tr th { border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; }
body .ui-datatable tr th:first-child { border-left: 1px solid #000; }
body .ui-datatable tr:first-child th:first-child { border-top-left-radius: .5em; }
body .ui-datatable tr:first-child th:last-child { border-top-right-radius: .5em; }
body .ui-datatable tr:last-child td:first-child { border-bottom-left-radius: .5em; }
body .ui-datatable tr:last-child td:last-child { border-bottom-right-radius: .5em; }