# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled target
/target

# glassfish
/src/main/webapp/WEB-INF/glassfish-resources.xml

# nb-configuration
nb-configuration.xml
